{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Muhim xavfsizlik ma'lumoti" %}</h1>

<p>{% trans "Vega — donorlarni muvofiqlashtirish platformasi." %}</p>

<p>{% trans "Vega biror shaxsning qon topshirishga tibbiy jihatdan mos yoki mos emasligini aniqlamaydi." %}</p>

<p>{% trans "Vega tomonidan ko'rsatilgan potentsial moslik donorlik xavfsiz, maqsadga muvofiq yoki tibbiy jihatdan mumkin ekanligini kafolatlamaydi." %}</p>

<p>{% trans "Donorlar malakali tibbiyot xodimlarining ko'rsatmalariga amal qilishlari shart." %}</p>

<p>{% trans "Yakuniy tibbiy qarorni faqat qon markazi xodimlari qabul qiladi." %}</p>
{% endblock %}
